--
-- PostgreSQL database dump
--

\restrict OgzSaPs3vStorDbsBBBPtADFJVOLjoF1pWkfaGPdqzVnyHSCB227UL54hVHWXfP

-- Dumped from database version 14.22
-- Dumped by pg_dump version 14.22

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alumno; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alumno (
    id bigint NOT NULL,
    contrasena character varying(255) NOT NULL,
    correo character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.alumno OWNER TO postgres;

--
-- Name: alumno_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.alumno ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alumno_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: alumno; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alumno (id, contrasena, correo, nombre) FROM stdin;
1	606547	sofia@gmail.com	sofia
2	660604	carmentica@gmail.com	carmencita
3	6606588	majo@gmail.com	majo
4	8305050	seoanes@gmail.com	seoanes
\.


--
-- Name: alumno_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alumno_id_seq', 4, true);


--
-- Name: alumno alumno_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumno
    ADD CONSTRAINT alumno_pkey PRIMARY KEY (id);


--
-- Name: alumno ukgmjuky8o7hx4nbdhg8jvspy0k; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumno
    ADD CONSTRAINT ukgmjuky8o7hx4nbdhg8jvspy0k UNIQUE (correo);


--
-- PostgreSQL database dump complete
--

\unrestrict OgzSaPs3vStorDbsBBBPtADFJVOLjoF1pWkfaGPdqzVnyHSCB227UL54hVHWXfP

